/* Forms
---------------------------------------------------------------------------------------- //// */

/* form fields ------------------------------------------- //// */
/* 
1. Remove the inner shadow on iOS
*/

/*
button {
	margin: 0;
	padding: 6px 7px 7px; // TODO - CJ - use ems
	border: 1px solid #ccc;
	@include border-radius(3px);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); // 1
	background-color: #fff;
	color: #000;
	font: 1em $fontMerriweather;
	line-height: normal;
	vertical-align: baseline;

	&:hover {
		border-color: #999;
		outline: 0;
	}

	&:focus {
		border-color: #aaa;
		@include box-shadow(0 0 3px rgba(0, 0, 0, .2));
		outline: 0;
	}

	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}
*/

/* buttons ------------------------------------------- //// */
/*
button {
	margin: 0 10px 0 0;
	padding: .5em 1.5em;
	background: #eee;
	font-weight: bold;
	-webkit-appearance: button;
	cursor: pointer;

	&:hover,
	&:focus {
		background: lightblue;
	}
}
*/