/* Headings
---------------------------------------------------------------------------------------- //// */

/*
h1 {
	background: #cdc9dd;
	color: #fff;
	// TODO - add @font-face
	// TODO - use ems
	font: 100 279px/1 Lato, sans-serif;
	text-transform: uppercase;
}
*/